attrs==21.2.0
beautifulsoup4==4.8.2
docopt==0.6.2
GitPython==3.1.0
mako==1.0.9
requests==2.21.0
sortedcontainers==2.1.0
tdh-tcd==2.5.4
cached-property==1.5.1
nodeenv==1.4.0
natsort==7.1.1
watchgod==0.7
Flask===2.2.2
parse===1.19.1
bgutil-ytdlp-pot-provider===1.2.2
yt-dlp # dynamic