.main-content {
  max-width: auto;
  padding-top: 1rem;
}

@media (max-width: 540px) {
  .row .col-card {
    max-width: 100%;
  }
}

@media (min-width: 540px) {
  .row .col-card {
    max-width: 270px;
  }
}

.row .col-card {
  padding: 5px;
  min-width: 225px;
}

.card-img-overlay.overlay-transparent-bottom {
  opacity: .95;
  padding: 0.7rem;
  top: auto;
  font-size: 0.8rem;
}

.card-img-overlay.overlay-transparent-bottom:hover {
  opacity: .1;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.card-img-overlay.card-badge {
  padding: 0.3rem;
  padding-top: 0;
  left: auto;
  bottom: auto;
}

footer.page-footer a {
  color: #fff;
}

footer .footer-copyright a {
  text-decoration: underline;
}

h1>.badge,
h2>.badge,
h3>.badge {
  vertical-align: middle;
  font-size: 0.8rem;
  margin-top: -0.4em;
}

/*
 *  Plyr styles
 */

/* Enable caption button in player */
.plyr [data-plyr=captions] {
  display: inline-block !important;
}

.stream {
  max-width: calc(100vh / 9 * 16 - 10%);
}

.plyr {
  max-width: calc(100vh / 9 * 16) !important;
}

/*
 * Search menu
 */

@media (min-width: 768px) {
  .easy-autocomplete-container {
    right: 0;
  }
}

@media (max-width: 768px) {
  .easy-autocomplete-container {
    left: 0;
  }
}

.easy-autocomplete-container {
  word-break: normal;
}

/* Workaround for `width: 0` on some mobile browsers */
.easy-autocomplete {
  width: auto !important;
}

/*
 * Lazy load
 */

.lazyload {
  display: none;
}

/*
 * Horizontal separator
 * Source: https://stackoverflow.com/a/36159798
 */

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px !important;
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.badge a {
  text-decoration: none;
  color: inherit;
}

.badge-row {
  margin: 0.3em;
  margin-top: auto;
  margin-bottom: 1.4em;
  margin-left: 1em;
}

.visited {
  color: purple;
}

/*
 * Cayman
 */

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71
}

.main-content {
  word-wrap: break-word
}

.main-content :first-child {
  margin-top: 0
}

h1 {
  font-size: 2em;
  margin: 0.67em 0
}

a {
  color: #1e6bb8;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957
}

.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #567482;
  background-color: #f3f6fa;
  border-radius: 0.3rem
}

.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem
}

.main-content pre>code {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #567482;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0
}