.main-content {
  max-width: auto;
  padding-top: 1rem;
}

.row .col-card {
  padding: 5px;
}

.card-img-overlay.overlay-transparent-bottom {
  opacity: .95;
  padding: 0.7rem;
  top: auto;
  font-size: 0.8rem;
}

.card-img-overlay.overlay-transparent-bottom:hover {
  opacity: .1;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.card-img-overlay.card-badge {
  padding: 0.3rem;
  padding-top: 0;
  left: auto;
  bottom: auto;
}

footer.page-footer a {
  color: #fff;
}

footer .footer-copyright a {
  text-decoration: underline;
}

/*
 *  Plyr styles
 */

/* Enable caption button in player */
.plyr [data-plyr=captions] {
  display: inline-block !important;
}

.stream {
  max-width: calc(100vh / 9 * 16 - 10%);
}

.plyr {
  max-width: calc(100vh / 9 * 16);
}

/*
 * Search menu
 */

.ui-menu-item {
  font-size: 16px;
}

.ui-menu-item .ui-state-active {
  color: #fff;
  background: none;
  background-color: #007bff;
}

.ui-widget {
  z-index: 1050;

/*
 * Lazy load
 */

.lazyload {
  display: none;
}
