.main-content {
  max-width: auto;
  padding-top: 1rem;
}

@media (max-width: 540px) {
  .row .col-card {
    max-width: 100%;
  }
}

@media (min-width: 540px) {
  .row .col-card {
    max-width: 270px;
  }
}

.row .col-card {
  padding: 5px;
  min-width: 225px;
}

.card-img-overlay.overlay-transparent-bottom {
  opacity: .95;
  padding: 0.7rem;
  top: auto;
  font-size: 0.8rem;
}

.card-img-overlay.overlay-transparent-bottom:hover {
  opacity: .1;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.card-img-overlay.card-badge {
  padding: 0.3rem;
  padding-top: 0;
  left: auto;
  bottom: auto;
}

footer.page-footer a {
  color: #fff;
}

footer .footer-copyright a {
  text-decoration: underline;
}

/*
 *  Plyr styles
 */

/* Enable caption button in player */
.plyr [data-plyr=captions] {
  display: inline-block !important;
}

.stream {
  max-width: calc(100vh / 9 * 16 - 10%);
}

.plyr {
  max-width: calc(100vh / 9 * 16) !important;
}

/*
 * Search menu
 */

.ui-menu-item {
  font-size: 16px;
}

.ui-menu-item .ui-state-active {
  color: #fff;
  background: none;
  background-color: #007bff;
}

.ui-widget {
  z-index: 1050;
}

/*
 * Lazy load
 */

.lazyload {
  display: none;
}

/*
 * Horizontal separator
 * Source: https://stackoverflow.com/a/36159798
 */

.hr-sect {
 	display: flex;
 	flex-basis: 100%;
 	align-items: center;
 	color: rgba(0, 0, 0, 0.35);
 	margin: 8px 0px !important;
}

.hr-sect::before,
.hr-sect::after {
 	content: "";
 	flex-grow: 1;
 	background: rgba(0, 0, 0, 0.35);
 	height: 1px;
 	font-size: 0px;
 	line-height: 0px;
 	margin: 0px 8px;
}
