@import "~plyr";

/* Subtitles break without this rule */
.plyr {
  display: block !important;
}

/* Enable caption button in player */
.plyr [data-plyr=captions] {
  display: inline-block !important;
}

button.plyr-yt-return {
  display: none;
  position: absolute;
  z-index: 31;
  top: 10px;
  right: 10px;
  opacity: 0.8;
}

button.plyr-yt-open {
  line-height: 0;
}

.stream {
  width: calc(80vh / 9 * 16);
  max-width: calc(100vw - 30px);
}

@media (min-width: 1200px) {
  .stream {
    max-width: 1200px;
  }
}

.stream > .btn {
  width: 200px;
}

body {
  overflow-x: hidden;
}

.video-row {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}